.main-container-3-panel-card-lrg-left-exela{
    position: relative;
    width: 100%;
    background-image: url('../images/page-2/overlay-left.png');
    padding: 50px 0;
}
.text-container-outer-3-panel-card-lrg-left-exela{
    position: relative;
    width: 90%;
    background-color: white;
    margin: auto;
    padding: 30px 0;
    z-index: 2;
    box-shadow: 5px 5px 15px 5px rgb(200,200,200); 
}
.text-container-inner-3-panel-card-lrg-left-exela{
    width: calc(100% - 30px - 30px);
    
}
.image-container-3-panel-card-lrg-left-exela{
    display: none;
    position: absolute;
    height: calc(100% - 200px);
    right: 50px;
    top: 100px;
    z-index: 1;
}

@media (min-width: 690px) {
    
    
}

@media (min-width: 850px) {
    .text-container-outer-3-panel-card-lrg-left-exela{
        width: 700px;
        margin-left: 50px;
    }
    
}
@media (min-width: 1160px) {
    .image-container-3-panel-card-lrg-left-exela{
        display: block;
    }
    
}