#exela-readmore-pg1{
    display: none;
}
#exela-readmore-pg2{
    display: none;
}
.sticky-toolbar-close-exela-4-grid{
    font-size: 40px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.sticky-toolbar-exela-4-grid{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: rgb(200,200,200);
    position: sticky;
    top: 0;
}

.main-container-exela-readmore{
    width: 100%;
    background-color: rgb(233, 233, 233);
}

.subheading-exela-readmore{
    width: 90%;
    margin: auto;
}

@media (min-width: 690px) {
    
    
}