.main-container-exela-form-1{
    width: 100%;
    background-image: url('../images/form-1/underlay.png');
    background-size: cover;
    padding: 50px 0;
}
.grid-container-exela-form-1{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "card-container-exela-form-1"
    "card-container-exela-form-1";
    grid-gap: 30px;
}
.card-container-exela-form-1{
    width: 100%;
    background-color: white;
    grid-area: "card-container-exela-form-1";
    box-shadow: 3px 3px 15px 3px rgb(200,200,200);
}
.header-container-exela-form-1{
    position: relative;
    width: 90%;
    margin-bottom: 10px;
    height: auto;
    padding-bottom: 20px;
}
.control-container-exela-form-1{
    position: relative;
    height: 40px;
    width: 90%;
    margin: auto;
}

@media (min-width: 975px) {
    .grid-container-exela-form-1{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "card-container-exela-form-1 card-container-exela-form-1";
    }
    .header-container-exela-form-1{
        margin-bottom: 0;
        height: 350px;
    }
    .location-1-override{
        position: absolute;
        bottom: 30px;
        left: 5%;
    }
    .location-2-override{
        position: absolute;
        bottom: 100px;
        left: 5%;
    }
    .location-3-override{
        position: absolute;
        bottom: 170px;
        left: 5%;
    }
}
