.main-container-exela-form-1{
    width: 100%;
    background-image: url('../images/form-1/underlay.png');
    background-size: cover;
    background-color: rgb(237,237,238);
    padding: 50px 0;
}
.grid-2-container-exela-form-1{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "container1ExelaForm1 container1ExelaForm1";
    grid-gap: 30px;
}
.container-1-exela-form-1{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: white;
    padding: 30px 0;
    grid-area: "container1ExelaForm1";
    box-shadow: 5px 5px 15px 5px rgb(200,200,200);
}
.custom-font{
    font-size: 2vw;
    margin: 0 30px;
    color: rgb(45,45,45);

}
.custom-p-font{
    font-size: 1.3vw;
    margin: 30px 30px;
    color: rgb(180,180,180);
}
.button-container-exela-form-1{
    position: absolute;
    left: 15%;
    bottom: 30px;
    width: 70%;
    height: 40px;
}
.input-1-container-exela-form-1{
    position: absolute;
    left: 15%;
    bottom: 100px;
    width: 70%;
    height: 40px;
}
.input-2-container-exela-form-1{
    position: absolute;
    left: 15%;
    bottom: 170px;
    width: 70%;
    height: 40px;
}
@media (min-width: 975px) {
   
}
